
<div id="rightbod">
        <div class="signup bolder">{{title}}</div>
        <div class="free bolder">It's free and always will be</div>
<form class="" action="/user" method="post">
  <div class="formbox">
  <input type="text" class="inputbody in1" name= "firstname" placeholder="First name">
  <input type="text" class="inputbody in1 fr" name= "lastname" placeholder="Last name">
  </div>
  <div class="formbox">
  <input type="text" class="inputbody in2" name= "email" placeholder="Email">
  </div>
  <div class="formbox">
  <input type="text" class="inputbody in2" name= "email2" placeholder="Re-enter email">
  </div>
  <div class="formbox">
  <input type="text" class="inputbody in2" name= "password" placeholder="New password">
  </div>
      <div class="formbox">
        <div class="agree">
          By clicking Sign Up, you agree to our <div class="link">Terms</div> and that you have read our <div class="link">Data Use Policy</div>, including our <div class="link">Cookie Use</div>.
        </div>
      </div>
      <div class="formbox">
        <button type="submit" class="signbut bolder" value = "Submit">Submit</button>
      </div>
</form>
