<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<div id="navwrapper">
  <div id="navbar">

    <h1 class="logowrapper">Acebook</h1>

  </div>
  </div>

  <h1 class="title" style="color: black;">{{title}}</h1>
<a class="new-post-link" href="/posts">Post a Message</a>
