<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Acebook-Timeline</title>
  <link rel="stylesheet" type="text/css" src="./public/stylesheets/style.css">
  <style>
  .center{
    margin: 20px;
    margin-top: -20px;
    width: 80%;
    border: 20px solid black;
    padding: 10px;
  }
  textarea{
    margin-left: 40px;
    width: 60%;
    padding: 20px;
  }
  nav a{
    display: inline;
    margin-top: -80px;
    margin-right: -190px;
    float: right;
  }
  @import url("https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans+Condensed:300");
  .wrapper {
    background-color: #F5E5F5;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    font: normal 16px/26px Open Sans Condensed, sans-serif;
    color: #fff;
    padding: 100px 20px 200px;
    box-sizing: border-box;
  }
  .block {
    z-index: 1;
    position: relative;
    margin-bottom: 90px;
  }
  .block:before {
    content: "";
    position: absolute;
    height: calc(100% - 40px);
    width: 1px;
    background-color: #F2F2F2;
    left: 50%;
    margin-top: 90px;
  }
}
.title {
  font: bold 42px/52px Open Sans Condensed, sans-serif;
  text-align: center;
  padding: 20px;
  transition: all 0.8s ease-in-out;
}
.each-event {
  background-color: #F4F4F4;
  color: #777;
  padding: 15px;
  margin: 60px 20px;
  width: 300px;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.each-event:before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: -27px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
}
.each-event:nth-child(odd) {
  margin-left: calc(50% + 20px);
}
.each-event:nth-child(even) {
  margin-left: calc(50% - 321px);}
  .each-event:nth-child(even):before {
    left: calc(100% + 14px);
  }
}
}
.title.non-focus {
  font-size: 24px;
  line-height: 34px;
  transition: all 0.8s ease-in-out;
}
.each-event.non-focus {
  color: #D2D2D2;
  background: #E6E6E6;
  margin-top: 90px;
  transform: rotateZ(180deg);
  transition: all 0.8s ease-in-out;
}
.each-event.non-focus:before {
  opacity: 0;
  background-color: #aaa;
}
#date{
  font-size: 50px;
  text-align: center;
}
</style>
</head>
<body>
  <nav>
    <div id="navwrapper">
      <div id="navbar">
        <h1 class="logowrapper" style="color: white;">Acebook</h1>
        <a class="new-post-link" href="/">
          <img src="https://image.flaticon.com/icons/svg/20/20176.svg" width="140" height="40">
        </a>
      </div>
    </div>
  </nav>
  <h1 style="color: black; margin: 50px;">Timeline</h1>
  <!-- HTML SCSS JSResult
  EDIT ON ****CodePen example -->
  <div class="wrapper">
    <section class="block">
      <div class="each-year">
        <div class="title" id="date">2020</div>
        {{#each posts}}
        <div class="each-event">
          <div class="event-description">
            <li>{{this.message}}</li>
            <li style="margin-bottom: 20px;">{{this.date}}</li>
            <form style = "display: inline; float: right; margin-top: -20px;" action="/posts/{{this.id}}" method="post">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="submit" value="Delete" />
            </form>
          </div>
        </div>
        {{/each}}
    </section>
    <section class="block">
      <div class="each-year">
        <div class="title" id="date">2019</div>
        <div class="each-event">
          <div class="event-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
    </section>
  </div>
  <a class="new-post-link" href="/posts/new">New post</a><br/>
  <a class="new-post-link" href="/">Home Page</a>
  <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-db44b196776521ea816683afab021f757616c80860d31da6232dedb8d7cc4862.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script id="rendered-js">
  var $element = $('.each-event, .title');
  var $window = $(window);
  $window.on('scroll resize', check_for_fade);
  $window.trigger('scroll');
  function check_for_fade() {
    var window_height = $window.height();
    $.each($element, function (event) {
      var $element = $(this);
      var element_height = $element.outerHeight();
      var element_offset = $element.offset().top;
      space = window_height - (element_height + element_offset - $(window).scrollTop());
      if (space < 60) {
        $element.addClass("non-focus");
      } else {
        $element.removeClass("non-focus");
      }
    });
  };
  </script>
</body>
</html>
